:root {
    --registration-bg: rgba(12, 17, 28, 0.8);

    --hero-light-bg-color: url(../img/bg-main-dark.svg) no-repeat center / cover, rgba(255, 255, 255, 0.35);
    --hero-dark-bg-color: url(../img/bg-main-light.svg) no-repeat center / cover, rgba(50, 73, 120, 1);
}

.section {
    &.signin {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: var(--padding-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.signup {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: var(--padding-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.forgot-password {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: var(--padding-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.email-verification {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: var(--padding-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.auth-verification {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: var(--padding-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.menu {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: var(--padding-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.header {
        width: 100vw;
        max-width: 1440px;
        position: absolute;
        top: 0;
        z-index: 9999;
    }
    &.hero {
        width: 100%;
        border-radius: var(--border-radius-lg);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: var(--padding-lg);
        padding-top: clamp(130px, 2vw + 1rem, 150px);
        &--light {
            background: var(--hero-light-bg-color);
        }
        &--dark {
            background: var(--hero-dark-bg-color);
        }
    }
    &.faq {
        width: 100%;
        padding: var(--padding-lg);
        padding-left: var(--padding-content);
        padding-right: var(--padding-content);
        padding-bottom: 0;
    }
    &.user-terms {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: var(--padding-lg);
        padding-left: var(--padding-content);
        padding-right: var(--padding-content);
        padding-bottom: 0;
    }
    &.privacy-policy {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: var(--padding-lg);
        padding-left: var(--padding-content);
        padding-right: var(--padding-content);
        padding-bottom: 0;
    }
    &.contact {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        position: relative;
    }
    &.news {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: var(--padding-lg);
        padding-bottom: 0;
    }
    &.slider {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    &.representative {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: var(--padding-lg);
        padding-bottom: 0;
    }
    &.strategy {
        &--about {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            padding: var(--padding-lg);
        }
        &--example {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding-bottom: var(--padding-md);
            background: var(--hero-dark-bg-color);
            border-radius: var(--border-radius-lg);
        }
        &--join {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            padding: var(--padding-lg);
            padding-bottom: 0;
        }
    }
    &.about {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 40px;
        padding: var(--padding-lg);
    }
    &.philanthropy {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 40px;
        padding: var(--padding-lg);
    }
    &.partners {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 40px;
        padding: var(--padding-lg);
    }
    &.main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 40px;
        padding: var(--padding-lg);
    }
    &.article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 40px;
        padding: var(--padding-lg);
    }
    &.node {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 40px;
        padding: var(--padding-lg);
    }
    &.footer {
        width: 100vw;
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: var(--padding-lg);
    }
}
