:root {
    --registration-bg: rgba(12, 17, 28, 0.8);

    --hero-light-bg-color: url(../img/bg-main-dark.svg) no-repeat center / cover, rgba(255, 255, 255, 0.35);
    --hero-dark-bg-color: url(../img/bg-main-light.svg) no-repeat center / cover, rgba(50, 73, 120, 1);
}

.section {
    &.signin {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.signup {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.forgot-password {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.email-verification {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.auth-verification {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.menu {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320)));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        /* Overlay */
        background: var(--registration-bg);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background:
                url(../img/bg-right-up.svg) no-repeat top right,
                url(../img/bg-left-down.svg) no-repeat bottom left;
            background-size: auto;
            z-index: -1;
        }
    }
    &.header {
        width: 100vw;
        position: absolute;
        top: 0;
    }
    &.hero {
        width: 100%;
        border-radius: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: calc(24px + (48 - 24) * ((100vw - 320px) / (1440 - 320)));
        padding-top: calc(130px + (150 - 130) * ((100vw - 320px) / (1440 - 320)));
        &--light {
            background: var(--hero-light-bg-color);
        }
        &--dark {
            background: var(--hero-dark-bg-color);
        }
    }
    &.faq {
        width: 100%;
        padding: calc(16px + (48 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-left: calc(16px + (144 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(16px + (144 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: 0;
    }
    &.user-terms {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: calc(16px + (48 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-left: calc(16px + (144 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(16px + (144 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: 0;
    }
    &.privacy-policy {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: calc(16px + (48 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-left: calc(16px + (144 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-right: calc(16px + (144 - 16) * ((100vw - 320px) / (1440 - 320)));
        padding-bottom: 0;
    }
    &.contact {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        position: relative;
    }
    &.footer {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: calc(16px + (54 - 16) * ((100vw - 320px) / (1440 - 320)));
    }
}
