:root {
    --bg-color: rgba(205, 217, 241, 1);
    --font-primary: "Euclid Circular B";
}

@import "_fonts";
@import "_outline";
@import "_scrollbar";
@import "_sections";

@import "components/_title";
@import "components/_desc";
@import "components/_btn";
@import "components/_icon";
@import "components/_logo";
@import "components/_form";
@import "components/_card";
@import "components/_tooltip";
@import "components/_social";

@import "sections/_signin";
@import "sections/_signup";
@import "sections/_forgot-password";
@import "sections/_email-verification";
@import "sections/_auth-verification";
@import "sections/_menu";
@import "sections/_header";
@import "sections/_hero";
@import "sections/_faq";
@import "sections/_footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    font-family: var(--font-primary);
    line-height: 1.2;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    background-color: var(--bg-color);
    position: relative;
}

ul {
    list-style: none;
}

.hide {
    display: none !important;
}

.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
