:root {
    --contact-item-bg-color: rgba(255, 255, 255, 0.08);

    --contact-form-bg-color: rgba(225, 232, 247, 1);
}

.contact {
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1 1 calc(50% - 16px);
        padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
        border-radius: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
        background: var(--contact-item-bg-color);
    }
    &__field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 1 calc(50% - 40px);
        @media (max-width: 1023.9px) {
            flex: 1 1 100%;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 1 1 calc(50% - 40px);
        padding: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
        border-radius: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
        background: var(--contact-form-bg-color);
        & .form {
            max-width: 100%;
            &__field {
                @media (max-width: 767.9px) {
                    flex-wrap: wrap;
                }
            }
        }
    }
    & .desc {
        text-align: left;
    }
    & #titleField {
        position: relative;
        order: 1;
    }
    & #contactForm {
        position: relative;
        order: 2;
    }
    & #contactField {
        width: 100%;
        max-width: calc(50% - 24px);
        position: absolute;
        left: 0;
        bottom: 0;
        order: 3;
        @media (max-width: 1023.9px) {
            position: relative;
            max-width: 100%;
        }
    }
}
