:root {
    --email-verification-desc-color: rgba(255, 255, 255, 0.4);
    --email-verification-desc-active-color: rgba(255, 255, 255, 1);
    --email-verification-resend-color: rgba(50, 73, 120, 1);
}

.email-verification {
    & .icon {
        &.close {
            position: absolute;
            top: calc(0px + (16 - 0) * ((100vw - 320px) / (1440 - 320)));
            right: calc(0px + (16 - 0) * ((100vw - 320px) / (1440 - 320)));
        }
    }
    &__wrap {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex: 1;
    }
    &__form {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex: 1;
    }
    &__title-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
}
