:root {
    --faq-bg-color: rgba(225, 232, 247, 0.5);

    --faq-devinder-color: rgba(205, 217, 241, 1);
}

.faq {
    &__list {
        background: var(--faq-bg-color);
        border-radius: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
    }
    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
        border-bottom: 1px solid var(--faq-devinder-color);
    }
    &__heading {
        width: 100%;
    }
    &__button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        background: transparent;
        border: none;
    }
    &__panel {
        width: 100%;
    }
    & .title {
        font-weight: 500;
    }
}
