:root {
    --footer-bg-color: rgba(255, 255, 255, 0.4);

    --footer-title-color: rgba(33, 29, 29, 1);
    --footer-desc-color: rgba(52, 52, 51, 1);
    --footer-link-color: rgba(105, 123, 159, 1);
}

.footer {
    &__wrap {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
        border-radius: calc(12px + (24 - 12) * ((100vw - 320px) / (1440 - 320)));
        padding: calc(24px + (48 - 24) * ((100vw - 320px) / (1440 - 320)));
        background: var(--footer-bg-color);
        @media (max-width: 767.9px) {
            flex-wrap: wrap;
        }
    }
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        flex: 1 1 auto;
        gap: 20px;
    }
    &__info-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__desc {
        width: 100%;
        max-width: 500px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: var(--footer-desc-color);
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 1023.9px) {
            flex-wrap: wrap;
        }
        &--inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
    &__item {
        width: calc(100% / 3 - 20px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 1023.9px) {
            width: calc(100% / 2 - 20px);
            flex-wrap: wrap;
        }
        @media (max-width: 363.9px) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
    &__item-title {
        @include title-card();
        color: var(--footer-title-color);
    }
    &__link {
        font-size: 14px;
        font-weight: 400;
        color: var(--footer-link-color);
        text-decoration: none;
        &:hover {
            color: var(--footer-desc-color);
        }
    }
}
