:root {
    --footer-bg-color: rgba(255, 255, 255, 0.4);
}

.footer {
    &__wrap {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
        border-radius: var(--border-radius-lg);
        padding: var(--padding-lg);
        background: var(--footer-bg-color);
        @media (max-width: 767.9px) {
            flex-wrap: wrap;
        }
    }
    &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        flex: 1 1 auto;
        gap: 20px;
    }
    &__info-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        & .desc {
            text-align: left;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        @media (max-width: 1023.9px) {
            flex-wrap: wrap;
        }
        &--inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item {
        width: calc(100% / 3 - 20px);
        @media (max-width: 1023.9px) {
            width: calc(100% / 2 - 20px);
            flex-wrap: wrap;
        }
        @media (max-width: 363.9px) {
            width: 100%;
            flex-wrap: wrap;
        }
    }
    &__link {
        text-decoration: none;
        &:hover {
            color: var(--desc-secondary-dark-color);
        }
    }
    & .desc {
        line-height: 28px;
    }
}
