:root {
    --forgot-password-desc-color: rgba(255, 255, 255, .4);
}

.forgot-password {
    & .icon {
        &.close {
            position: absolute;
            top: calc(0px + (16 - 0) * ((100vw - 320px) / (1440 - 320)));;
            right: calc(0px + (16 - 0) * ((100vw - 320px) / (1440 - 320)));;
        }
    }
    &__wrap {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex: 1;
    }
    &__title-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
    &__desc {
        font-size: 14px;
        font-weight: 400;
        color: var(--forgot-password-desc-color);
        text-align: center;
        margin-top: auto;
    }
}
