:root {
    --header-btn-border-light-color: rgba(255, 255, 255, 0.12);
    --header-btn-border-dark-color: rgba(50, 73, 120, 1);
    --header-btn-bg-light-color: rgba(255, 255, 255, 1);
    --header-btn-bg-dark-color: rgba(50, 73, 120, 1);
}

.header {
    &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: var(--padding-md);
    }
    &__menu {
        width: 40px;
        max-width: 40px;
        height: 40px;
        max-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        padding: 4px;
        border-radius: 50%;
        &--light {
            border: 1px solid var(--header-btn-border-light-color);
            &:hover {
                border: 1px solid var(--header-btn-border-light-color);
                background: var(--header-btn-bg-light-color);
            }
            &.active {
                border: 1px solid var(--header-btn-border-light-color);
                background: var(--header-btn-bg-light-color);
            }
        }
        &--dark {
            border: 1px solid var(--header-btn-border-dark-color);
            &:hover {
                border: 1px solid var(--header-btn-border-dark-color);
                background: var(--header-btn-bg-dark-color);
            }
            &.active {
                border: 1px solid var(--header-btn-border-dark-color);
                background: var(--header-btn-bg-dark-color);
            }
        }
    }
    &__lang-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__lang {
        width: 40px;
        max-width: 40px;
        height: 40px;
        max-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        padding: 4px;
        border-radius: 50%;
        &--light {
            border: 1px solid var(--header-btn-border-light-color);
            &:hover {
                border: 1px solid var(--header-btn-border-light-color);
                background: var(--header-btn-bg-light-color);
            }
            &.active {
                border: 1px solid var(--header-btn-border-light-color);
                background: var(--header-btn-bg-light-color);
            }
        }
        &--dark {
            border: 1px solid var(--header-btn-border-dark-color);
            &:hover {
                border: 1px solid var(--header-btn-border-dark-color);
                background: var(--header-btn-bg-dark-color);
            }
            &.active {
                border: 1px solid var(--header-btn-border-dark-color);
                background: var(--header-btn-bg-dark-color);
            }
        }
    }
    &__lang-menu {
        position: absolute;
        top: 45px;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
        &[hidden] {
            display: none !important;
        }
    }
}
