:root {
    --header-btn-border-color: rgba(255, 255, 255, 0.12);
}

.header {
    &__menu {
        background: transparent;
        border: none;
        padding: 4px;
        border-radius: 50%;
        border: 1px solid var(--header-btn-border-color);
    }
    &__lang {
        background: transparent;
        border: none;
        padding: 4px;
        border-radius: 50%;
        border: 1px solid var(--header-btn-border-color);
    }
}
