.hero {
    &__faq {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    &__user-terms {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    &__title-field {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    & .title {
        font-weight: 600;
    }
    & .desc {
        width: 100%;
        max-width: 1000px;
        line-height: 28px;
        text-align: center;
    }
}