:root {
    --menu-nav-list-item-color: rgba(255, 255, 255, 0.3);
    --menu-nav-list-item-active-color: rgba(255, 255, 255, 1);

    --menu-news-link-bg-color: rgba(255, 255, 255, 0.07);
}

.menu {
    &__close {
        & > .icon {
            width: 72px;
            max-width: 72px;
            height: 72px;
            max-height: 72px;
            object-fit: contain;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1;
        border: none;
        outline: none;
    }
    &__nav {
        width: 100%;
        position: relative;
    }
    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
    &__link {
        font-size: var(--title-md);
        font-weight: 400;
        color: var(--menu-nav-list-item-color);
        text-decoration: none;
        &:hover {
            color: var(--menu-nav-list-item-active-color);
        }
        &.active {
            & > .menu__link {
                color: var(--menu-nav-list-item-active-color);
            }
            color: var(--menu-nav-list-item-active-color);
        }
    }
    &__news {
        width: 100%;
        max-width: 346px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 767.9px) {
            display: none;
        }
    }
    &__news-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }
    &__news-link {
        width: 34px;
        max-width: 34px;
        height: 34px;
        max-height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border-radius: 50%;
        background: var(--menu-news-link-bg-color);
    }
}
