:root {
    --signup-desc-color: rgba(255, 255, 255, .4);
}

.signup {
    & .icon {
        &.close {
            position: absolute;
            top: calc(0px + (16 - 0) * ((100vw - 320px) / (1440 - 320)));;
            right: calc(0px + (16 - 0) * ((100vw - 320px) / (1440 - 320)));;
        }
    }
    &__wrap {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex: 1;
        outline: none;
    }
    &__form {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex: 1;
    }
}
