:root {
    --icon-close: url(./../../img/icons/close.svg) no-repeat center / contain;
    --icon-close-dark: url(./../../img/icons/close-dark.svg) no-repeat center / contain;
    --icon-plus: url(./../../img/icons/plus.svg) no-repeat center / contain;
    --icon-show: url(./../../img/icons/mdi_eye.svg) no-repeat center / contain;
    --icon-hide: url(../../img/icons/mdi_eye-off.svg) no-repeat center / contain;
    --icon-google: url(./../../img/icons/google.svg) no-repeat center/ contain;
    --icon-prev: url(./../../img/icons/solar_arrow-up-outline.svg) no-repeat center/ contain;
    --icon-arrow-left-up: url(./../../img/icons/arrow_left_up.svg) no-repeat center/ contain;
    --icon-menu-light: url(./../../img/icons/menu.svg) no-repeat center / contain;
    --icon-menu-dark: url(./../../img/icons/menu_dark.svg) no-repeat center / contain;
    --icon-en: url(./../../img/en.svg) no-repeat center / contain;
    --icon-uk: url(./../../img/ua.svg) no-repeat center / contain;
    --icon-twitter: url(./../../img/icons/prime_twitter.svg) no-repeat center / contain;
    --icon-facebook: url(./../../img/icons/ic_baseline-facebook.svg) no-repeat center / contain;
    --icon-youtube: url(./../../img/icons/mdi_youtube.svg) no-repeat center / contain;
    --icon-representative-frst: url(./../../img/icons/representative-frst.svg) no-repeat center / contain;
    --icon-representative-scnd: url(./../../img/icons/representative-scnd.svg) no-repeat center / contain;
    --icon-representative-thrd: url(./../../img/icons/representative-thrd.svg) no-repeat center / contain;
    --icon-representative-frth: url(./../../img/icons/representative-frth.svg) no-repeat center / contain;
    --icon-representative-ffth: url(./../../img/icons/representative-ffth.svg) no-repeat center / contain;
    --icon-representative-sxth: url(./../../img/icons/representative-sxth.svg) no-repeat center / contain;
    --icon-representative-svnth: url(./../../img/icons/representative-svnth.svg) no-repeat center / contain;
    --icon-representative-eghth-light: url(./../../img/icons/representative-eghth-light.svg) no-repeat center / contain;
    --icon-representative-eghth-dark: url(./../../img/icons/representative-eghth-dark.svg) no-repeat center / contain;
    --icon-representative-nnth-light: url(./../../img/icons/representative-nnth-light.svg) no-repeat center / contain;
    --icon-representative-nnth-dark: url(./../../img/icons/representative-nnth-dark.svg) no-repeat center / contain;
    --icon-program-frst-one: url(./../../img/icons/program_frst-one.svg) no-repeat center / contain;
    --icon-program-frst-two: url(./../../img/icons/program_frst-two.svg) no-repeat center / contain;
    --icon-program-frst-three: url(./../../img/icons/program_frst-three.svg) no-repeat center / contain;
    --icon-program-frst-four: url(./../../img/icons/program_frst-four.svg) no-repeat center / contain;
    --icon-program-frst-five: url(./../../img/icons/program_frst-five.svg) no-repeat center / contain;
    --icon-program-scnd-one: url(./../../img/icons/program_scnd-one.svg) no-repeat center / contain;
    --icon-program-scnd-two: url(./../../img/icons/program_scnd-two.svg) no-repeat center / contain;
    --icon-program-scnd-three: url(./../../img/icons/program_scnd-three.svg) no-repeat center / contain;
    --icon-program-thrd-one: url(./../../img/icons/program_thrd-one.svg) no-repeat center / contain;
    --icon-program-thrd-two: url(./../../img/icons/program_thrd-two.svg) no-repeat center / contain;
    --icon-program-thrd-three: url(./../../img/icons/program_thrd-three.svg) no-repeat center / contain;
    --icon-program-thrd-four: url(./../../img/icons/program_thrd-four.svg) no-repeat center / contain;
    --icon-program-thrd-five: url(./../../img/icons/program_thrd-five.svg) no-repeat center / contain;
    --icon-program-thrd-six: url(./../../img/icons/program_thrd-six.svg) no-repeat center / contain;
    --icon-program-frth-one: url(./../../img/icons/program_frth-one.svg) no-repeat center / contain;
    --icon-program-frth-two: url(./../../img/icons/program_frth-two.svg) no-repeat center / contain;
    --icon-program-frth-three: url(./../../img/icons/program_frth-three.svg) no-repeat center / contain;
    --icon-program-frth-four: url(./../../img/icons/program_frth-four.svg) no-repeat center / contain;
    --icon-program-frth-five: url(./../../img/icons/program_frth-five.svg) no-repeat center / contain;
    --icon-program-frth-six: url(./../../img/icons/program_frth-six.svg) no-repeat center / contain;
    --icon-program-ffth-one: url(./../../img/icons/program_ffth-one.svg) no-repeat center / contain;
    --icon-program-ffth-two: url(./../../img/icons/program_ffth-two.svg) no-repeat center / contain;
    --icon-program-ffth-three: url(./../../img/icons/program_ffth-three.svg) no-repeat center / contain;
    --icon-program-ffth-four: url(./../../img/icons/program_ffth-four.svg) no-repeat center / contain;
    --icon-program-ffth-five: url(./../../img/icons/program_ffth-five.svg) no-repeat center / contain;
    --icon-program-sxth-one: url(./../../img/icons/program_sxth-one.svg) no-repeat center / contain;
    --icon-program-sxth-two: url(./../../img/icons/program_sxth-two.svg) no-repeat center / contain;
    --icon-program-sxth-three: url(./../../img/icons/program_sxth-three.svg) no-repeat center / contain;
    --icon-program-sxth-four: url(./../../img/icons/program_sxth-four.svg) no-repeat center / contain;
    --icon-program-sxth-five: url(./../../img/icons/program_sxth-five.svg) no-repeat center / contain;
    --icon-program-sxth-six: url(./../../img/icons/program_sxth-six.svg) no-repeat center / contain;
    --icon-program-svnth-one: url(./../../img/icons/program_svnth-one.svg) no-repeat center / contain;
    --icon-program-svnth-two: url(./../../img/icons/program_svnth-two.svg) no-repeat center / contain;
    --icon-program-svnth-three: url(./../../img/icons/program_svnth-three.svg) no-repeat center / contain;
    --icon-program-svnth-four: url(./../../img/icons/program_svnth-four.svg) no-repeat center / contain;

    --icon-strategy-frst-one: url(./../../img/icons/strategy_frst-one.svg) no-repeat center / contain;
    --icon-strategy-frst-two: url(./../../img/icons/strategy_frst-two.svg) no-repeat center / contain;
    --icon-strategy-frst-three: url(./../../img/icons/strategy_frst-three.svg) no-repeat center / contain;
    --icon-strategy-frst-four: url(./../../img/icons/strategy_frst-four.svg) no-repeat center / contain;
    --icon-strategy-scnd-one: url(./../../img/icons/strategy_scnd-one.svg) no-repeat center / contain;
    --icon-strategy-scnd-two: url(./../../img/icons/strategy_scnd-two.svg) no-repeat center / contain;
    --icon-strategy-scnd-three: url(./../../img/icons/strategy_scnd-three.svg) no-repeat center / contain;
    --icon-strategy-scnd-four: url(./../../img/icons/strategy_scnd-four.svg) no-repeat center / contain;
    --icon-strategy-scnd-five: url(./../../img/icons/strategy_scnd-five.svg) no-repeat center / contain;
    --icon-strategy-scnd-six: url(./../../img/icons/strategy_scnd-six.svg) no-repeat center / contain;
    --icon-strategy-thrd-one: url(./../../img/icons/strategy_thrd-one.svg) no-repeat center / contain;
    --icon-strategy-thrd-two: url(./../../img/icons/strategy_thrd-two.svg) no-repeat center / contain;
    --icon-strategy-thrd-three: url(./../../img/icons/strategy_thrd-three.svg) no-repeat center / contain;
    --icon-strategy-thrd-four: url(./../../img/icons/strategy_thrd-four.svg) no-repeat center / contain;
    --icon-strategy-thrd-five: url(./../../img/icons/strategy_thrd-five.svg) no-repeat center / contain;
    --icon-strategy-frth-light: url(./../../img/icons/representative-eghth-light.svg) no-repeat center / contain;
    --icon-strategy-frth-dark: url(./../../img/icons/representative-eghth-dark.svg) no-repeat center / contain;
    --icon-strategy-ffth-light: url(./../../img/icons/representative-nnth-light.svg) no-repeat center / contain;
    --icon-strategy-ffth-dark: url(./../../img/icons/representative-nnth-dark.svg) no-repeat center / contain;
    --icon-about-frst: url(./../../img/icons/about_frst.svg) no-repeat center / contain;
    --icon-about-scnd-one: url(./../../img/icons/about_scnd-one.svg) no-repeat center / contain;
    --icon-about-scnd-two: url(./../../img/icons/about_scnd-two.svg) no-repeat center / contain;
    --icon-about-scnd-three: url(./../../img/icons/about_scnd-three.svg) no-repeat center / contain;
    --icon-about-scnd-four: url(./../../img/icons/about_scnd-four.svg) no-repeat center / contain;
    --icon-about-scnd-five: url(./../../img/icons/about_scnd-five.svg) no-repeat center / contain;
    --icon-about-thrd-one: url(./../../img/icons/about_thrd-one.svg) no-repeat center / contain;
    --icon-about-thrd-two: url(./../../img/icons/about_thrd-two.svg) no-repeat center / contain;
    --icon-about-frth-one: url(./../../img/icons/about_frth-one.svg) no-repeat center / contain;
    --icon-about-frth-two: url(./../../img/icons/about_frth-two.svg) no-repeat center / contain;
    --icon-about-frth-three: url(./../../img/icons/about_frth-three.svg) no-repeat center / contain;
    --icon-philanthropy-frst: url(./../../img/icons/philanthropy_frst.svg) no-repeat center / contain;
    --icon-philanthropy-scnd-one: url(./../../img/icons/philanthropy_scnd-one.svg) no-repeat center / contain;
    --icon-philanthropy-scnd-two: url(./../../img/icons/philanthropy_scnd-two.svg) no-repeat center / contain;
    --icon-philanthropy-scnd-three: url(./../../img/icons/philanthropy_scnd-three.svg) no-repeat center / contain;
    --icon-philanthropy-thrd: url(./../../img/icons/philanthropy_thrd.svg) no-repeat center / contain;
}

.icon {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    object-fit: contain;
    display: block;
    border: none;
    cursor: pointer;
    &.close {
        &.large {
            width: 72px;
            min-width: 72px;
            height: 72px;
            min-height: 72px;
            margin-left: auto;
            background: var(--icon-close);
        }
        background: var(--icon-close);
        &--dark {
            background: var(--icon-close-dark);
        }
    }
    &.eye {
        &.show {
            background: var(--icon-show);
        }
        &.unshow {
            background: var(--icon-hide);
        }
    }
    &.google {
        background: var(--icon-google);
    }
    &.prev {
        &.large {
            width: 72px;
            min-width: 72px;
            height: 72px;
            min-height: 72px;
            margin-left: auto;
            background: var(--icon-prev);
        }
        background: var(--icon-prev);
    }
    &.left-up {
        background: var(--icon-arrow-left-up);
    }
    &.menu {
        &--light {
            background: var(--icon-menu-light);
        }
        &--dark {
            background: var(--icon-menu-dark);
        }
    }
    &.en {
        background: var(--icon-en);
    }
    &.uk {
        background: var(--icon-uk);
    }
    &.twitter {
        background: var(--icon-twitter);
    }
    &.facebook {
        background: var(--icon-facebook);
    }
    &.youtube {
        background: var(--icon-youtube);
    }
    &.plus {
        background: var(--icon-plus);
    }
    &.representative-frst {
        width: 28px;
        max-width: 28px;
        height: 28px;
        max-height: 28px;
        background: var(--icon-representative-frst);
    }
    &.representative-scnd {
        width: 28px;
        max-width: 28px;
        height: 28px;
        max-height: 28px;
        background: var(--icon-representative-scnd);
    }
    &.representative-thrd {
        width: 28px;
        max-width: 28px;
        height: 28px;
        max-height: 28px;
        background: var(--icon-representative-thrd);
    }
    &.representative-frth {
        width: 28px;
        max-width: 28px;
        height: 28px;
        max-height: 28px;
        background: var(--icon-representative-frth);
    }
    &.representative-ffth {
        background: var(--icon-representative-ffth);
    }
    &.representative-sxth {
        background: var(--icon-representative-sxth);
    }
    &.representative-svnth {
        background: var(--icon-representative-svnth);
    }
    &.representative-eghth {
        &.light {
            background: var(--icon-representative-eghth-light);
        }
        &.dark {
            background: var(--icon-representative-eghth-dark);
        }
    }
    &.representative-nnth {
        &.light {
            background: var(--icon-representative-nnth-light);
        }
        &.dark {
            background: var(--icon-representative-nnth-dark);
        }
    }
    &.program-frst-one {
        background: var(--icon-program-frst-one);
    }
    &.program-frst-two {
        background: var(--icon-program-frst-two);
    }
    &.program-frst-three {
        background: var(--icon-program-frst-three);
    }
    &.program-frst-four {
        background: var(--icon-program-frst-four);
    }
    &.program-frst-five {
        background: var(--icon-program-frst-five);
    }
    &.program-scnd-one {
        background: var(--icon-program-scnd-one);
    }
    &.program-scnd-two {
        background: var(--icon-program-scnd-two);
    }
    &.program-scnd-three {
        background: var(--icon-program-scnd-three);
    }
    &.program-thrd-one {
        background: var(--icon-program-thrd-one);
    }
    &.program-thrd-two {
        background: var(--icon-program-thrd-two);
    }
    &.program-thrd-three {
        background: var(--icon-program-thrd-three);
    }
    &.program-thrd-four {
        background: var(--icon-program-thrd-four);
    }
    &.program-thrd-five {
        background: var(--icon-program-thrd-five);
    }
    &.program-thrd-six {
        background: var(--icon-program-thrd-six);
    }
    &.program-frth-one {
        background: var(--icon-program-frth-one);
    }
    &.program-frth-two {
        background: var(--icon-program-frth-two);
    }
    &.program-frth-three {
        background: var(--icon-program-frth-three);
    }
    &.program-frth-four {
        background: var(--icon-program-frth-four);
    }
    &.program-frth-five {
        background: var(--icon-program-frth-five);
    }
    &.program-frth-six {
        background: var(--icon-program-frth-six);
    }
    &.program-ffth-one {
        background: var(--icon-program-ffth-one);
    }
    &.program-ffth-two {
        background: var(--icon-program-ffth-two);
    }
    &.program-ffth-three {
        background: var(--icon-program-ffth-three);
    }
    &.program-ffth-four {
        background: var(--icon-program-ffth-four);
    }
    &.program-ffth-five {
        background: var(--icon-program-ffth-five);
    }
    &.program-sxth-one {
        background: var(--icon-program-sxth-one);
    }
    &.program-sxth-two {
        background: var(--icon-program-sxth-two);
    }
    &.program-sxth-three {
        background: var(--icon-program-sxth-three);
    }
    &.program-sxth-four {
        background: var(--icon-program-sxth-four);
    }
    &.program-sxth-five {
        background: var(--icon-program-sxth-five);
    }
    &.program-sxth-six {
        background: var(--icon-program-sxth-six);
    }
    &.program-svnth-one {
        background: var(--icon-program-svnth-one);
    }
    &.program-svnth-two {
        background: var(--icon-program-svnth-two);
    }
    &.program-svnth-three {
        background: var(--icon-program-svnth-three);
    }
    &.program-svnth-four {
        background: var(--icon-program-svnth-four);
    }
    &.strategy-frst-one {
        background: var(--icon-strategy-frst-one);
    }
    &.strategy-frst-two {
        background: var(--icon-strategy-frst-two);
    }
    &.strategy-frst-three {
        background: var(--icon-strategy-frst-three);
    }
    &.strategy-frst-four {
        background: var(--icon-strategy-frst-four);
    }
    &.strategy-scnd-one {
        background: var(--icon-strategy-scnd-one);
    }
    &.strategy-scnd-two {
        background: var(--icon-strategy-scnd-two);
    }
    &.strategy-scnd-three {
        background: var(--icon-strategy-scnd-three);
    }
    &.strategy-scnd-four {
        background: var(--icon-strategy-scnd-four);
    }
    &.strategy-scnd-five {
        background: var(--icon-strategy-scnd-five);
    }
    &.strategy-scnd-six {
        background: var(--icon-strategy-scnd-six);
    }
    &.strategy-thrd-one {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-strategy-thrd-one) rgba(205, 217, 241, 1);
        background-size: 20px;
        border-radius: 8px;
    }
    &.strategy-thrd-two {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-strategy-thrd-two) rgba(205, 217, 241, 1);
        background-size: 20px;
        border-radius: 8px;
    }
    &.strategy-thrd-three {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-strategy-thrd-three) rgba(205, 217, 241, 1);
        background-size: 20px;
        border-radius: 8px;
    }
    &.strategy-thrd-four {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--icon-strategy-thrd-four) rgba(205, 217, 241, 1);
        background-size: 20px;
        border-radius: 8px;
    }
    &.strategy-thrd-five {
        background: var(--icon-strategy-thrd-five);
    }
    &.strategy-frth {
        &.light {
            background: var(--icon-strategy-frth-light);
        }
        &.dark {
            background: var(--icon-strategy-frth-dark);
        }
    }
    &.strategy-ffth {
        &.light {
            background: var(--icon-strategy-ffth-light);
        }
        &.dark {
            background: var(--icon-strategy-ffth-dark);
        }
    }
    &.about-frst {
        background: var(--icon-about-frst);
    }
    &.about-scnd-one {
        background: var(--icon-about-scnd-one);
    }
    &.about-scnd-two {
        background: var(--icon-about-scnd-two);
    }
    &.about-scnd-three {
        background: var(--icon-about-scnd-three);
    }
    &.about-scnd-four {
        background: var(--icon-about-scnd-four);
    }
    &.about-scnd-five {
        background: var(--icon-about-scnd-five);
    }
    &.about-thrd-one {
        background: var(--icon-about-thrd-one);
    }
    &.about-thrd-two {
        background: var(--icon-about-thrd-two);
    }
    &.about-frth-one {
        background: var(--icon-about-frth-one);
    }
    &.about-frth-two {
        background: var(--icon-about-frth-two);
    }
    &.about-frth-three {
        background: var(--icon-about-frth-three);
    }
    &.philanthropy-frst {
        background: var(--icon-philanthropy-frst);
    }
    &.philanthropy-scnd-one {
        background: var(--icon-philanthropy-scnd-one);
    }
    &.philanthropy-scnd-two {
        background: var(--icon-philanthropy-scnd-two);
    }
    &.philanthropy-scnd-three {
        background: var(--icon-philanthropy-scnd-three);
    }
    &.philanthropy-thrd {
        background: var(--icon-philanthropy-thrd);
    }
}
