:root {
    --modal-overlay-bg-color: rgba(12, 17, 28, 0.7);
    --modal-bg-color: rgba(232, 238, 249, 1);
    --modal-item-bg-color: url(../../img/bg-card-dark.svg) no-repeat top right / contain, rgba(205, 217, 241, 1);
}

.modal[hidden] {
    display: none !important;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    &__overlay {
        position: absolute;
        inset: 0;
        background: var(--modal-overlay-bg-color);
        backdrop-filter: blur(2px);
    }
    &__dialog {
        position: relative;
        width: 100%;
        max-width: 750px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;
        background: var(--modal-bg-color);
        padding: var(--padding-md);
        border-radius: var(--border-radius-lg);
        box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
        outline: none;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }
    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        max-width: 35px;
        height: 35px;
        max-height: 35px;
        border: 0;
        background: transparent;
        cursor: pointer;
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item {
        background: var(--modal-item-bg-color);
        padding: 16px;
        border-radius: var(--border-radius-lg);
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}