:root {
    --title-primary-light-color: rgba(255, 255, 255, 1);
    --title-primary-middle-color: rgba(255, 255, 255, 0.5);
    --title-primary-dark-color: rgba(0, 0, 0, 1);

    --title-secondary-light-color: rgba(255, 255, 255, 1);
    --title-secondary-middle-color: rgba(0, 0, 0, 0.3);
    --title-secondary-dark-color: rgba(0, 0, 0, 1);

    --title-thirdly-light-color: rgba(255, 255, 255, 1);
    --title-thirdly-middle-color: rgba(86, 106, 146, 1);
    --title-thirdly-dark-color: rgba(50, 73, 120, 1);
}

@mixin title-primary {
    font-size: var(--title-lg);
    font-weight: 500;
    letter-spacing: -1;
}

@mixin title-secondary {
    font-size: var(--title-md);
    font-weight: 600;
}

@mixin title-thirdly {
    font-size: var(--title-sm);
    font-weight: 600;
    letter-spacing: -0.3;
}

.title {
    &.primary {
        @include title-primary();
        text-align: center;
        &--light {
            color: var(--title-primary-light-color);
        }
        &--middle {
            color: var(--title-primary-middle-color);
        }
        &--dark {
            color: var(--title-primary-dark-color);
        }
    }
    &.secondary {
        @include title-secondary();
        &--light {
            color: var(--title-secondary-light-color);
        }
        &--middle {
            color: var(--title-secondary-middle-color);
        }
        &--dark {
            color: var(--title-secondary-dark-color);
        }
    }
    &.thirdly {
        @include title-thirdly();
        &--light {
            color: var(--title-thirdly-light-color);
        }
        &--middle {
            color: var(--title-thirdly-middle-color);
        }
        &--dark {
            color: var(--title-thirdly-dark-color);
        }
    }
}
