<div class="card">
    <div class="card__wrap">
        <img class="card__img" width="300" height="200" src="img/card-img.webp"
            alt="Capital Preservation">
        <div class="tooltip">
            <p class="tooltip__title">September 3, 2022</p>
        </div>
    </div>
    <div class="card__wrap">
        <h4 class="title thirdly thirdly--light">Capital Preservation</h4>
        <p class="desc secondary secondary--middle">Assets are distributed across multiple pools with strict risk limits,
            minimizing potential losses.</p>
    </div>
</div>